@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loader__item {
  display: block;
  width: 74px;
  height: 74px;
  border: 1px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  margin-bottom: 24px;
  animation: spin 0.75s infinite linear;
}
