@keyframes shake-err-message {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.popup__error-message {
  color: #ff0000;
  font-size: 0.8rem;
  display: none;
  line-height: 1.3;
  animation: shake-err-message 0.1s both 2;
  position: absolute;
}
