.header__text-logo-link {
  text-decoration: none;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.3;
}
