.popup__button {
  border-radius: 100px;
  border: none;
  width: 100%;
  padding: 20px 0 18px;
  background-color: #e6e8eb;
  color: #b6bcbf;
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 0 0 16px;
}

.popup__button:disabled {
  background-color: #e6e8eb;
  color: #b6bcbf;
}
