@keyframes hover-delete-button {
  0% {
    fill: #b6bcbf;
  }
  100% {
    fill: #1a1b22;
  }
}

.card__button_delete {
  fill: #b6bcbf;
}

.card__control:hover .card__button_delete {
  animation: hover-delete-button 0.4s forwards;
}
