.header__universal-button {
  display: none;
  position: relative;
  width: 16px;
  height: 8px;
  background-color: transparent;
  border: none;
  align-self: center;
}

.header__universal-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-bottom: 4px;
}

.header__universal-button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
