@media screen and (max-width: 900px) {
  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer__copyright {
    margin-top: 24px;
    margin-bottom: 18px;
  }

  .footer__useful-links {
    margin-top: 21px;
    margin-bottom: 21px;
  }

  .footer__channels {
    display: flex;
    margin-top: 21px;
    margin-bottom: 21px;
  }

  .footer__channels-link {
    margin-right: 26px;
  }

  .footer__useful-links-item {
    margin-right: 18px;
  }
}

@media screen and (max-width: 740px) {
  .footer__container {
    flex-wrap: wrap;
  }

  .footer__copyright {
    order: 3;
    width: 100%;
    margin: 0 0 28px;
  }

  .footer__useful-links {
    order: 1;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 20px 0 38px;
  }

  .footer__channels {
    order: 2;
    margin-top: 22px;
    margin-bottom: 0;
  }

  .footer__useful-links-item {
    margin: 0 0 32px;
  }

  .footer__channels-link {
    margin-right: 28px;
  }
}

@media screen and (max-width: 650px) {
  .footer {
    padding-left: 16px;
    padding-right: 16px;
  }
}
