.card__resource {
  font-family: 'Roboto Slab';
  color: #b6bcbf;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  margin: 0;
  margin-top: auto;
}
