<header class="header header_saved-news">
  <div class="header__container">
    <p class="header__text-logo">
      <a href="./index.html" class="header__text-logo-link">NewsExplorer</a>
    </p>
    <nav class="menu">
      <div class="menu__container">
        <div class="menu__link menu__link_main">
          <a href="./index.html" class="menu__link-item menu__item">
            Главная
          </a>
        </div>
      </div>
    </nav>
    <button class="header__universal-button header__universal-button_hamburger"></button>
  </div>
</header>
