<footer class="footer">
  <div class="footer__container">
    <p class="footer__copyright">© 2020 Supersite, Powered by News API</p>
    <nav class="footer__useful-links">
      <a href="./index.html" class="footer__useful-links-item">Главная</a>
      <a href="https://praktikum.yandex.ru/" class="footer__useful-links-item">Яндекс.Практикум</a>
    </nav>
    <div class="footer__channels">
      <a href="https://github.com/tohaly" class="footer__channels-link" target="_blanck">
        <div class="footer__channels-img footer__channels-img_github"></div>
      </a>
      <a href="https://www.facebook.com/avojtenko" class="footer__channels-link" target="_blanck">
        <div class="footer__channels-img footer__channels-img_facebook"></div>
      </a>
    </div>
  </div>
</footer>
