.lead__container {
  display: flex;
  flex-direction: column;
  background-image: url('../../../images/lead-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
