.card__img {
  width: 400px;
  height: 272px;
  width: 100%;
  background-color: #fff;
  object-fit: cover;
  transition: transform 1s ease-in-out;
}

.card__link:hover .card__img {
  transform: scale(1.1);
}
