@media screen and (max-width: 650px) {
  .popup {
    top: 56px;
    height: auto;
    background-color: transparent;
  }
  .popup__content {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .popup__close {
    display: none;
  }
}
