@media screen and (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(auto-fill, 224px);
    grid-gap: 8px;
    margin-bottom: 22px;
  }

  .card__title {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .card__content {
    padding: 16px;
  }

  .card__control {
    right: 8px;
    top: 8px;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .card__need-signin {
    margin: 8px 0;
  }

  .cards__get-more-cards {
    padding: 15px 60px 17px;
  }
}

@media screen and (max-width: 650px) {
  .cards {
    grid-template-columns: repeat(auto-fill, 288px);
    grid-gap: 8px;
    margin-bottom: 15px;
  }

  .card__content {
    padding: 16px;
  }

  .card__control {
    right: 16px;
    top: 16px;
    flex-direction: row;
    align-items: flex-start;
  }

  .card__need-signin {
    margin: 0 16px 0 0;
  }

  .card__pub-time {
    margin-bottom: 10px;
  }

  .card__text {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 425px) {
  .cards__get-more-cards {
    width: 100%;
  }
}
