@media screen and (max-width: 900px) {
  .cards {
    padding: 40px;
  }

  .cards__list {
    grid-template-columns: repeat(auto-fill, 224px);
    grid-gap: 8px;
    margin-bottom: 22px;
  }

  .cards__title {
    font-size: 1.9rem;
    margin-bottom: 32px;
  }

  .card__title {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  .card__content {
    padding: 16px;
  }

  .card__control {
    right: 8px;
    top: 8px;
    flex-direction: column;
    align-items: flex-end;
  }

  .card__tag-name {
    left: 8px;
    top: 8px;
  }

  .card__button-info {
    margin: 8px 0;
  }

  .cards__button {
    padding: 15px 60px 17px;
  }

  .card__img {
    width: 224px;
    height: 150px;
  }
}

@media screen and (max-width: 650px) {
  .cards {
    padding: 32px 16px;
  }

  .cards__list {
    grid-template-columns: repeat(auto-fill, 288px);
    grid-gap: 10px;
    margin-bottom: 15px;
  }

  .cards__title {
    margin-bottom: 22px;
  }

  .card__content {
    padding: 16px;
  }

  .card__control {
    right: 8px;
    top: 8px;
  }

  .card__pub-time {
    margin-bottom: 10px;
  }

  .card__text {
    margin-bottom: 10px;
  }

  .card__img {
    width: 288px;
    height: 196px;
  }
}

@media screen and (max-width: 425px) {
  .cards__get-more-cards {
    width: 100%;
  }

  .card__control {
    right: 16px;
    top: 16px;
  }

  .card__tag-name {
    left: 16px;
    top: 16px;
  }
}
