@import url('./__text-logo/header__text-logo.css');
@import url('./__hamburger/header__hamburger.css');
@import url('./__hamburger/_close/header__hamburger_close.css');
@import url('./__hamburger/_open/header__hamburger_open.css');
@import url('./__container/header__container.css');
@import url('./__text-logo/_saved-news/header__text-logo_saved-news.css');
@import url('./__hamburger/_close/_saved-news/header__hamburger_close_saved-news.css');
@import url('./__hamburger/_open/_saved-news/header__hamburger_open_saved_news.css');

.header {
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  margin-bottom: 80px;
  padding: 0 104px;
}
