@keyframes open-popup {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes close-popup {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

.popup__content {
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
  animation: open-popup 0.4s forwards;
  transform: scaleY(1);
}

.popup__content_close {
  animation: close-popup 0.4s forwards;
  transform: scaleY(0);
}
