.header__hamburger_open {
  background-image: url('../../../../images/back.svg');
  width: 20px;
  height: 20px;
  background-position: center;
}

.header__hamburger_open::before {
  height: 0;
}

.header__hamburger_open::after {
  height: 0;
}
