@import url('../vendor/normalize.css');
@import url('../blocks/lead/lead.css');
@import url('../blocks//heaeder/header.css');
@import url('../blocks/heaeder/_hamburger-is-active/header_hamburger-is-active.css');
@import url('../blocks/menu/menu.css');
@import url('../blocks/search-form/search-form.css');
@import url('../blocks/search-result/search-result.css');
@import url('../blocks/cards/cards.css');
@import url('../blocks/about/about.css');
@import url('../blocks/footer/footer.css');

@import url('../media/media.css');

@import url('../blocks/menu/_is-open/menu_is-open.css'); /* ???? */

* {
  box-sizing: border-box;
}

.page {
  font-family: 'Roboto';
  color: #1a1b22;
}

.page__overflow {
  overflow: hidden;
}
