@import url('./__container/popup-messages__container.css');
@import url('./__message/popup-messages__message.css');

.popup-messages {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #1a1b22;
  position: fixed;
  top: 34px;
  right: 34px;
  z-index: 24;
  display: none;
}
