.saved-cards__server-messages-title {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.2;
  max-width: 400px;
  text-align: center;
  margin: 0 auto 0;
}
