.header__hamburger_opening-popup {
  background-image: url('../../../../images/back.svg');
  width: 20px;
  height: 20px;
  background-position: center;
}

.header__hamburger_opening-popup::before {
  height: 0;
}

.header__hamburger_opening-popup::after {
  height: 0;
}
