.cards__button {
  align-self: center;
  background-color: #ffffff;
  border-radius: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.3;
  padding: 20px 84px;
}

.cards__button:hover {
  opacity: 0.9;
}

.cards__button:focus {
  outline: none;
}

.cards__button:active {
  outline: none;
}
