@import url('./__container/menu_container.css');
@import url('./__link//menu__link.css');
@import url('./__link-item/menu__link-item.css');
@import url('./__button/menu__button.css');
@import url('./__logout-img/menu__logout-img.css');
@import url('./__link//_active/menu__link_active.css');
@import url('./__button/_hidden/menu__button_hidden.css');
@import url('./__link/_active/_saved-news/menu__link_active_saved-news.css');
@import url('./__button/_saved-news/menu__button_saved-news.css');
@import url('./__link-item/_saved-news/menu__link-item_saved-news.css');

.menu {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #1a1b22;
}
