@media screen and (max-width: 900px) {
  .menu__link {
    font-size: 1rem;
    margin-right: 16px;
    margin-top: 22px;
  }

  .menu__button {
    font-size: 1rem;
    padding: 8px 15px;
    margin-top: 14px;
    margin-left: 32px;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 650px) {
  .menu {
    margin-top: 62px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 8;
  }

  .menu_is-open {
    display: block;
  }

  .menu__container {
    position: relative;
    flex-direction: column;
    background-color: #1a1b22;
    padding: 32px 16px 0;
    height: auto;
  }

  .menu__container_saved-news {
    background-color: #fff;
  }

  .menu__link {
    font-size: 1.2rem;
    margin: 0 0 32px;
    color: #fff;
  }

  .menu__button {
    margin: 0 0 24px;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.2rem;
  }

  .menu__link_active::before {
    display: none;
  }
}
