.card__pub-time {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.3;
  color: #b6bcbf;
  display: block;
  margin-bottom: 12px;
}
