.search-result__nothing-title {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.15;
  margin: 0 0 16px;
}
