.search-form__button_disabled {
  background-color: #e6e8eb;
  color: #b6bcbf;
  transition: background-color, 0s;
}

.search-form__button_disabled:hover {
  background-color: #e6e8eb;
  color: #b6bcbf;
}
