.menu__button {
  color: #fff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  background-color: transparent;
  padding: 12px 14px 15px;
  border-radius: 100px;
  border: 1px solid #fff;
  margin-top: 19px;
  margin-left: 34px;
  margin-bottom: 13px;
  cursor: pointer;
  display: flex;
}
